
*{
	margin: 0;
	padding: 0;
}

.a{
	color: #999;
}

input:-webkit-autofill {
	         -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#NormalCss{background-image:url(../img/paixu_default.png);background-repeat:no-repeat;background-position:85% 49%; background-color: #e2e6f7; font-weight: normal;}
#SortDescCsst{background-image:url(../img/paixu_down.png); background-repeat:no-repeat;background-position:85% 49%; background-color: #e2e6f7; font-weight: normal; color: red;}
#SortAscCsst{background-image:url(../img/paixu_up.png);background-repeat:no-repeat;background-position:85% 49%; background-color: #e2e6f7; font-weight: normal; color: red;}

#NormalCsss{background-image:url(../img/paixu_default.png);background-repeat:no-repeat;background-position:85% 49%; background-color: #e2e6f7; font-weight: normal;}
#SortDescCsss{background-image:url(../img/paixu_down.png); background-repeat:no-repeat;background-position:85% 49%; background-color: #e2e6f7; font-weight: normal; color: red;}
#SortAscCsss{background-image:url(../img/paixu_up.png);background-repeat:no-repeat;background-position:85% 49%; background-color: #e2e6f7; font-weight: normal; color: red;}

#NormalCssc{background-image:url(../img/paixu_default.png);background-repeat:no-repeat;background-position:92% 43%; background-color: #B8D9EA; font-weight: normal;}
#SortDescCssc{background-image:url(../img/paixu_down.png); background-repeat:no-repeat;background-position:92% 43%; background-color: #B8D9EA; font-weight: normal; color: red;}
#SortAscCssc{background-image:url(../img/paixu_up.png);background-repeat:no-repeat;background-position:92% 43%; background-color: #B8D9EA; font-weight: normal; color: red;}

#NormalCssd{background-image:url(../img/paixu_default.png);background-repeat:no-repeat;background-position:85% 49%;  font-weight: normal;}
#SortDescCssd{background-image:url(../img/paixu_down.png); background-repeat:no-repeat;background-position:85% 49%; font-weight: normal; color: red;}
#SortAscCssd{background-image:url(../img/paixu_up.png);background-repeat:no-repeat;background-position:85% 49%;  font-weight: normal; color: red;}

/*濠电姷鏁搁崑鐐哄垂閸洖绠归柍鍝勬噹閻鏌涢幇鈺佸婵炴垯鍨归柨銈嗕繆閵堝嫮顦﹂柛鎿冨弮濮婃椽宕ㄦ繝鍐槱闂佺顑呯�氭澘顕ｉ锕�閱囬柡鍥╁枎閿熺晫鏁婚弻锝堫槻闁硅绱曢敓鑺ョ啲閹凤拷*/
.content{
    width: 1200px;
    margin: auto;
    border: 1px solid #e4e4e4;
    margin-top: 55px;
    position: relative;
    /* height: 600px; */
    height: auto;
    padding-bottom: 50px;
}
.content .p{
	margin-top: -30px;
	color: #666;
}
.content .p a {
    color: #666;
}
.content .p a:hover{ color: #3974f8;}
.content-top{
	width: 1128px;
	height: 72px;
	border: 1px solid white;
	margin: auto;
	margin-top: 5px;
	border-bottom: 1px solid #e4e4e4;
	position: relative;
}
.content-top select{
	width: 80px;
	height: 25px;
	
}
.content-top .span{
	position: absolute;
    right: 652px;
    top: 32px;
}
.content-top .span2{
    position: absolute;
    right: 86px;
    top: 30px;
}
.content-top .input{
	width: 180px;
    height: 23px;
    position: absolute;
    right: 459px;
    top: 30px;
    text-indent: 10px;
    font-size: 12px;
}
.content-top .input2{
	width: 150px;
    height: 24px;
	position: absolute;
    right: 117px;
    top: 22px;
    text-indent: 10px;
    font-size: 12px;
}
.content-top .button{
	width: 46px;
	height: 27px;
	border-radius: 3px;
	background-color: #3974f8;
	color: #fff;
	font-size: 12px;
	border: none;
	position: absolute;
	right: 0px;
    top: 30px;
    cursor: pointer;
}
.content-top .button:hover{
	background-color: #ff7801;
}

.content table{
	width: 1128px;
	height: auto;
	border: 1px solid #e2e6f7;
	margin: auto;
    margin-top: 34px;
    text-align: center;
}
.content th{
	height: 36px;
	font-weight: normal;
	color: #999;
	font-size: 14px;
	line-height: 36px;
	background-color: #e2e6f7;
}
.content
.content-color  th a{
	color:#999;
}
.content td{
	height: 40px;
	color: #666;
	font-size: 14px;
}
.content td a{
	color: #3974f8;
	font-size: 14px;
}
.content .content-a{
	display: inline-block;
	width: auto;
	padding-left: 12px;
    padding-right: 12px;
	height: 26px;
	background-color: #3974f8;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	line-height: 26px;
}
.content .content-a:hover{
	background-color: #ff7801;
}


