


*{
	margin: 0;
	padding: 0;
}

/*头部*/
.header{
	width: 1200px;
	height: 320px;
	border: 1px solid blue;
	margin: auto;
	position: relative;
}

.header h1{
	width: 800px;
	height: 200px;
	line-height: 200px;
	text-indent: 35px;
}

.header-right{
	width: 280px;
	height: 120px;
	border: 1px solid blue;
	position: absolute;
	right: 20px;
	top: 83px;
}
.header-right dl{
	float: left;
	width: 100px;
	height: 80px;
	margin-left: 32px;
}
.header-right dd{
	width: 100px;
	height: 30px;
	margin-top: 20px;
	text-indent: 10px;
	line-height: 30px;
}
.header-right span{
	color: red;
}
.header-right .header-dl{
	text-align: center;
}
.header-right .header-dd{
	color: red;
}
.header ul{
	list-style-type: none;
	margin-top: 40px;
}
.header a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.header li{
	width: 198px;
	height: 80px;
	border: 1px solid yellow;
	float: left;
	line-height: 80px;
	text-align: center;
	background: #0024FF;
}

/*轮播图的部分*/
.centent{
	width: 1200px;
	height: 450px;
	border: 1px solid red;
	margin: auto;
	margin-top: 35px;
	line-height: 450px;
	text-align: center;
}

.benner{
	width: 1200px;
	height: 970px;
	/*border: 1px solid green;*/
	margin: auto;
	margin-top: 35px;
	position: relative;
}
.benner-translate{
	width: 700px;
	height: 970px;
	border: 1px solid blue;
	position: relative;
}
.benner-translate h1{
	margin: 42px 0 0 34px;
}
.benner-table{
	width: 700px;
	height: 600px;
	border: 1px solid blue;
	margin-top: 30px;
}
.benner-translate th{
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #323232;
	border-bottom: 1px solid #323232;
	text-align: center;
}
.benner-translate td{
	height: 60px;
	line-height: 60px;
	/*border-top: 1px solid #323232;*/
	border-bottom: 1px solid #323232;
	text-align: center;
}
.benner-translate span{
	color: red;
}
.benner-translate-right{
	width: 465px;
	height: 250px;
	border: 1px solid red;
	position: absolute;
	right: 0px;
	top: 0px;
}
.benner-translate-right dl{
	width: 350px;
	height: 200px;
	margin-left: 52px;
	margin-top: 25px;
}
.benner-translate-right dt{
	font-size: 18px;
	font-weight: bold;
	margin-left: 15px;
	height: 60px;
	line-height: 60px;
}
.benner-translate-right dd{
    margin-left: 15px;
    margin-top: 20px;
}
.benner-translate-right span{
	font-size: 16px;
	font-weight:normal;
	margin-left: 20px;
}
.benner-translate-right b{
	color: red;
}

.benner-table span{
	margin-left: 5px;
}
.benner-dedicated .benner-th{
	width: 100px;
}
.benner-dedicated-right{
	width: 465px;
	height: 290px;
	border: 1px solid red;
	position: absolute;
	right: 0px;
	top: 275px;
}
.benner-dedicated-right p{
	height: 50px;
	line-height: 50px;
	text-indent: 70px;
	margin-top: 7px;
}
.benner-dedicated-right span{
	color: red;
}


.benner-curve-right{
	width: 465px;
	height: 200px;
	border: 1px solid red;
	position: absolute;
	right: 0;
	top: 590px;
}
.benner-curve-right p{
	height: 40px;
	line-height: 40px;
	margin-top: 17px;
	margin-left: 67px;
}

.benner-curve-right .benner-p{
	font-size: 18px;
	font-weight: bold;
}
.benner-curve-right span{
	margin-left: 10px;
}
.benner-curve-right b{
	margin-left: 10px;
    font-weight: normal;
}

.benner-picture-right{
	width: 465px;
	height: 150px;
	border: 1px solid blue;
	position: absolute;
	right: 0;
	bottom: 0;
}
.benner-picture ul{
	list-style-type: none;
	margin-top: 188px;
}
.benner-picture li{
	width: 200px;
	float: left;
	margin-left: 25px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	margin-top: 8px;
}
.benner-picture-rights{
	width: 465px;
	height: 150px;
	border: 1px solid blue;
}
.benner-picture-rights b{
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	
}
.benner-picture-rights p{
	margin-left: 67px;
	margin-top: 16px;
}
.footer{
	width: 1200px;
	height: 150px;
	border: 1px solid #323232;
	margin: auto;
	margin-top: 35px;
}
.footer span{
	color: red;
}

.footer p{
	margin-top: 15px;
	text-align: center;
}
