* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

body {
	left: 0;
	right: 0;
	margin: auto;
}
input:-webkit-autofill {
	         -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.content {
	width: 1200px;
	height: 530px;
	margin: auto;
	border: 1px solid #dcdcdc;
	margin-top: 20px;
	position: relative;
	font-size: 14px;
}

.content p {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 90px;
	color : #0066FF;
}
.content label{
	display: inline-block;
	height: 50px;
	border: 1px solid #dcdcdc;
	text-indent: 10px;
}
.content input {
	width: 400px;
	height: 50px;
	text-indent: 25px;
	margin-left: 30px;
	border: 0px;
}
#newPassword{
	width: 393px;
	text-indent: 18px;
}


.content .content-input{
	margin-left: 37px;
}
.content-left span {
	margin-left: 48px;
}
.content-left .content-span{
	margin-left: 89px;
}
.content-left {
	width: 700px;
	height: 150px;
	margin: 50px 0 0 350px;
}

.content-left .content-left-span {
	margin-left: 0px;
}

.content .content-button {
    width: 460px;
    height: 46px;
    border-radius: 5px;
    background-color: #3974f8;
    color: #fff;
    margin: 37px 0 0 374px;
    text-align: center;
    text-indent: 0;
    font-size: 18px;
    border: 0px;
    cursor: pointer;
}
.content .content-button:hover{
	background-color: #ff7801;
}
.content-right {
	width: 400px;
	height: 250px;
	background: #0024FF;
	position: absolute;
	left: 424px;
	top: 179px;
	border-radius: 7px;
	display: none;
}

.content-right p {
	text-align: center;
	font-size: 24px;
	color: white;
	margin-top: 67px;
}

.benner-buttont input{
	width: 160px;
	height: 6px;
	background: white;
	color: #0024FF;
	margin: 60px 0 0 124px;
	border-radius: 15px;
}

