


*{
	margin: 0;
	padding: 0;
	font-family:'Microsoft YaHei','Î¢ÈíÑÅºÚ';
}

.benner{
	width: 100%;
	height: auto;
	/* border: 1px solid #dcdcdc; */
	margin: auto;
	padding-top: 20px;
	position: relative;
	background: url("../../img/con_bj.jpg") top repeat-x;
}

.banner-guno{
	width: 1202px;
	height: 217px;
	border-radius: 3px;
	/* border: 1px solid white; */
	margin: auto;
}
.banner-guno img{
	width: 1202px;
	height: 217px;
}

.banner-list{
	width: 1200px;
	min-height: 560px;
	/* border: 1px solid #dcdcdc; */
	margin: auto;
	position: relative;
	margin-top: 20px;
}

.banner-list-left{
	width: 200px;
    min-height: 560px;
    background-color: white;
    background: url(../../img/zs_con_leftbj.jpg) repeat-x;
    float: left;
}
.banner-list-left p{
	display: inline-block;
	margin-top: 30px;
	margin-left: 27px;
	font-size: 28px;
}
.banner-list-left ul{
	list-style-type: none;
	margin-top: 25px;
}
.banner-list-left li{
	height: 30px;
	line-height: 30px;
	text-indent: 27px;
	margin-top: 10px;
} 
.banner-list-left .banner-list-lefts{
	background: url("../../img/zs_connav_bj.jpg") repeat-x;
	color : white;
}
.banner-list-left .banner-list-lefts-a{
	text-decoration: none;
	color : white;
}
.banner-list-left .banner-list-lefts-as{
	text-decoration: none;
	color : #323232;
}
.banner-list-left dt{
	color : #0066FF;
}
.banner-list-left dl{
	font-size: 14px;
}
.banner-list-left1{
	width: 200px;
	height: 40px;
	margin-top: 40px;
	position: relative;
}
.banner-list-left1 img{
	margin-left: 20px;
}
.banner-list-left1 dl{
	position: absolute;
	left: 70px;
	top: 0px;
}

.banner-list-left2{
	width: 200px;
	height: 40px;
	margin-top: 25px;
	position: relative;
}
.banner-list-left2 img{
	margin-left: 20px;
}
.banner-list-left2 dl{
	position: absolute;
	left: 70px;
	top: 0px;
}

.banner-list-left3{
	width: 200px;
	height: 40px;
	margin-top: 25px;
	position: relative;
}
.banner-list-left3 img{
	margin-left: 20px;
}
.banner-list-left3 dl{
	position: absolute;
	left: 70px;
	top: 0px;
}

.banner-list-left4{
	width: 200px;
	height: 40px;
	margin-top: 25px;
	position: relative;
}
.banner-list-left4 img{
	margin-left: 20px;
}
.banner-list-left4 dl{
	position: absolute;
	left: 70px;
	top: 0px;
}
.banner-list-left4 ul{
	list-style-type: none;
	/* position: absolute;
	right: -52px;
	top: 10px; */
}
.banner-list-left4 li{
	float: left;
	margin-top: 22px;
}
.banner-list-left4 li a{
	display: block;
	width: 44px;
	height: 44px;
	background: url(../../img/zs_r_icon8899.jpg);
}
.banner-list-left4 li a:hover{
	background: url(../../img/zs_r_icon8898.jpg);
}
.banner-list-left4 .content-right-okl{
	width: 44px;
	height: 44px;
	background: url(../../img/zs_r_icon8855.jpg);
}
.banner-list-left4 .content-right-okl:hover{
	background: url(../../img/zs_r_icon8856.jpg);
}

.banner-list-right{
	    width: 900px;
    height: auto;
    /* border: 1px solid #323232; */
    position: relative;
    /* position: absolute; */
    /* right: 0px; */
    /* top: 0px; */
    background-color: white;
    padding: 0 40px 0 40px;
    overflow: hidden;
    margin-left: 222px;
}
.banner-list-right-op{
	margin-top: 78px;
	text-indent: 52px;
}
.banner-list-right-ops{
	margin-top: 30px;
	text-indent: 52px;
}
.banner-list-right-opu{
	margin-top: 30px;
	text-indent: 52px;
}
.banner-list-right-opo{
	margin-top: 30px;
	text-indent: 52px;
}
.banner-list-right-opos{
	margin-top: 30px;
	text-indent: 52px;
}
.banner-list-right p{
	
	 font-size: 12px;
    color: #333;
    margin-top: 10px;
    padding-left: 3px;
    line-height: 22px;
}

.banner-list-rights{
	width: auto;
	height: 40px;
	position: absolute;
	right: 40px;
	top: 20px;
	background-color: white;
}
.banner-list-rights img{
	margin-top: 13px;
	margin-left: 25px;
}
.banner-list-rights span{
	margin-left: 10px;
	color : #666;
	font-size: 14px;
}


.banner-list-rightsiu{
	width: 867px;
    min-height: 560px;
   /*  border: 1px solid blue; */
    margin-top: 80px;
    overflow: hidden;
    margin-left: -3px;
    line-height: 23px;
    padding-left: 0px;
    color: #333;
    font-size: 14px;
}

.banner-list-img{
	width: 268px;
	height: 219px;
	/* border: 1px solid blue; */
	float: left;
	margin-right: 27px;
}
.banner-list-img p{
	    font-size: 12px;
    color: #666;
    margin-top: 20px;
    padding-left: 3px;
    line-height: 22px;
}
.banner-list-img img{
	width: 268px;
	height: 219px;
}
.banner-list-img img2{
	width: 268px;
	height: 219px;
}
.banner-list-img img3{
	width: 268px;
	height: 219px;
}
.banner-list-img2{
	width: 268px;
	height: 219px;
	/* border: 1px solid blue; */
	float: left;
	margin-right: 30px;
}
.banner-list-img3{
	width: 268px;
	height: 219px;
	/* border: 1px solid blue; */
	float: left;
}











 