
*{
	margin: 0;
	padding: 0;
}


/*杞挱鐨勫唴瀹�*/
.main{
	width: 1200px;
	height: 160px;
	margin: auto;
	border: 1px solid #323232;
	position: relative;
	margin-top: 20px;
}
.main-left{
	width: 450px;
	height: 160px;
	border-right: 1px solid #323232;
	position: relative;
}
.main-left p{
	width: 200px;
	height: 30px;
	line-height: 30px;
	color: red;
	text-align: center;
	position: absolute;
	right: 15px;
	bottom: 15px;
	cursor: pointer;
}
.main-left img{
	margin: 30px 0 0 30px;
}
.main-right{
	width: 750px;
	height: 160px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	line-height: 160px;
	overflow: hidden;
}
.main-right ul{
	list-style-type: none;
}
.main-right li{
	float: left;
}

/*涓棿鐨勫唴瀹�*/
.content{
	width: 1200px;
	height: 599px;
	margin: auto;
	border: 1px solid #323232;
	margin-top: 20px;
	position: relative;
}
.content-left{
	width: 1200px;
	height: 50px;
	border-top: 1px solid white;
	position: relative;
}

.content-left select{
	margin-top: 15px;
	width: 90px;
}
.content-left span{
	margin-left: 30px;
}
.content-left .content-left-span{
	margin-left: 100px;
}
.content-left input{
	width: 200px;
}
.content-left .content-left-img{
	position: absolute;
	right: 142px;
	bottom: 18px;
}
.content-left .content-left-imgs{
	position: absolute;
    left: 657px;
	bottom: 22px;
}
.content-left ul{
	list-style-type: none;
}
.content-left li{
	float: left;
	width: 100px;
	/*border: 1px solid #323232;*/
	border-right: 1px solid #E4EBF3;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: url(../../img/arrow_down.png) no-repeat 87px 20px ;
}
.content-left .content-left-li{
	background: url(../../img/arrow_down.png) no-repeat 74px 20px ;
}
.content-left p{
	position: absolute;
	right: 15px;
	top: 14px;
}
.content-left p a{
	text-decoration: none;
	color: #0024FF;
}
.content button{
	width: 190px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	background-color: #0066FF;
	border-radius: 15px;
	position: absolute;
	left: 520px;
	bottom: 53px;
}
/*琛ㄦ牸鐨勬牱寮�*/
.content-table{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50px;
}
.content-table .content-th{
	border-top: 1px solid #E4EBF3;
	border-bottom: 1px solid #E4EBF3;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #969696;
	font-size: 12px;
}

.content-table .content-td{
	border-bottom: 1px solid #323232;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}
.content-table .content-td span{
	color: #0024FF;
}
.content-table .content-td a{
	text-decoration: none;
	background-color: #0024FF;
	border-radius: 5px;
	color: white;
}
