
*{
	margin: 0;
	padding: 0;
}


/*濞濡㈡堕告*/
.content{
	width: 1140px;
	height: 700px;
	margin: auto;
	border: 1px solid #e4e4e4;
	margin-top: 20px;
	
	padding: 0 30px 30px 30px;

	position: relative;
}
.content p{
	height: 33px;
	font-size: 18px;
	margin-top: 22px;
	font-weight: bold;
    border-bottom: 1px solid #e4e4e4;
	color: blue;
}


.content-img{
	width: 328px;
	height: 185px;
    position: absolute;
    left: 100px;
    top: 137px;
}
.content-img img{
	width: 328px;
	height: 185px;
}
.content table{
	width: 328px;
	position: absolute;
	left: 100px;
	top: 356px;
	text-align: center;
}
.content  th{
	font-weight: normal;
    height: 60px;	
}
.content  td{
	height : 60px;
	
}
.content  td button{
	width: 140px;
	background-color: #d5dcf3;
	border: 0px;
	height: 35px;
	color : #666;
	border-radius: 3px;
}
.content-tab{
	 width: 600px;
	/* height: 400px; */
	/* border: 1px solid blue; */
	margin: auto;
	margin-top: 100px;
	position: relative;
	position: absolute;
	left: 465px;
	top: -17px;
}
 .content-tab ul{
	list-style-type: none;
	position: absolute;
	left: 128px;
	top: 48px;
}
.content-tab li{
	float: left;
	margin-left: 10px;
	cursor: pointer;
	font-size: 20px;
	
} 
.content-tab .content-dl{
	position: absolute;
	left: 120px;
	top: 105px;
}
.content-tab #content-dl{
	position: absolute;
	left: 120px;
	top: 228px;
}
.content-tab .content-dl dd{
	width: 85px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	margin-top: 20px;
}
.content-tab .content-tab-span{
	display: inline-block;
    margin-left: 79px;
    margin-top: 60px;
}
.content-tab dd{
	border: 1px solid #666;
	margin-left: 20px;
	text-align: center;
	font-size: 12px;
}
.content-tab .content-dl2{
	position: absolute;
	left: 120px;
	top: 160px;
}
.content-tab .content-dl2 dd{
	width: 85px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
}

.content-tab dd{
	float: left;
} 



/*第二套dl的样式*/

.content-tab #content-dl{
	position: absolute;
	left: 120px;
	top: 164px;
}
.content-tab #content-dl dd{
	width: 85px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	margin-top: 20px;
}
#content-dl .content-tab-span{
	display: inline-block;
    margin-left: 79px;
    margin-top: 60px;
}
#content-dl dd{
	border: 1px solid #666;
	margin-left: 20px;
	text-align: center;
	font-size: 12px;
}
#content-dl .content-dl2{
	position: absolute;
	left: 120px;
	top: 160px;
}
#content-dl .content-dl2 dd{
	width: 85px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
}

#content-dl dd{
	float: left;
} 



.content-tab .span{
	position: absolute;
	left: 0px;
	top: 229px;
}
.content-tab span{
	display: inline-block;
	margin-left: 79px;
	margin-top: 50px;
}
.content-tab strong{
	position: absolute;
	right: 18px;
	bottom: 63px;
	font-weight: normal;
	color: #666;
}
.content-tab textarea {
	position: absolute;
    left: 130px;
    top: 272px;
    width: 450px;
    height: 150px;/* 
	text-indent: 10px; */
}
.content-tab .content-tab-input {
	width: 260px;
	height: 40px;
    margin-top: 258px;
    margin-left: 131px;
    background-color: #0066FF;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    color : white;
}










/*峰*/

.title{ font-size:14px; background:#dfdfdf; padding:10px; margin-bottom:10px;}
.block{ width:100%; position:absolute; left: 130px; top: 52px; line-height:21px;}
.block .star_score{ float:left;}
.star_list{height:21px;margin:50px; line-height:21px;}
.block p,.block .attitude{ padding-left:20px; line-height:21px; display:inline-block;}
.block p span{ color:#C00; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif;}
.star_score { background:url(images/stark2.png); width:160px; height:21px;  position:relative; }
.star_score a{ height:21px; display:block; text-indent:-999em; position:absolute;left:0; }
.star_score a:hover{ background:url(../../images/stars2.png);left:0;}
.star_score a.clibg{ background:url(../../images/stars2.png);left:0;}
#starttwo .star_score { background:url(../../images/starky.png);}
#starttwo .star_score a:hover{ background:url(../../images/starsy.png);left:0;}
#starttwo .star_score a.clibg{ background:url(../../images/starsy.png);left:0;}
/*峰*/
.show_number{ padding-left:50px; padding-top:20px;}
.show_number li{ width:240px; border:1px solid #ccc; padding:10px; margin-right:5px; margin-bottom:20px;}
.atar_Show{background:url(../../images/stark2.png); width:160px; height:21px;  position:relative; float:left; }
.atar_Show p{ background:url(../../images/stars2.png);left:0; height:21px; width:134px;}
.show_number li span{ display:inline-block; line-height:21px;}






