



*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

.main-right img{
	 width : 750px;
}



/*濠电偞鍨堕幖鈺呭矗閸愩剮娑㈠锤濡わ拷缁�鍐煕濞戝崬寮鹃柛鐔锋喘閺岋綁濡搁妷銉純闂佺瀛╅幐鍐茬暦濮樿埖鏅搁柨鐕傛嫹*/
.content{
	width: 1200px;
    /* height: 838px; */
    /* border: 1px solid #323232; */
    margin: auto;
    margin-top: 25px;
    position: relative;
    height: auto;
    overflow: hidden;
}

.content-right{
    border: 1px solid #dfdfdf;
    width: 995px;
    height: auto;
    min-height: 790px;
    padding-bottom: 40px;
    overflow: hidden;
    float: right;

}

.content-right-top{

    margin-top: 40px;
	width:auto;
	height: auto;
	overflow: hidden;
	padding-bottom: 50px;
	position: relative;
}
.content-right-top .p1{
	margin-left: 54px;
}
.content-right-top .p2{
	margin-top: 70px;
	margin-left: 54px;
}
.content-right-top .p3{
	margin-top: 12px;
	margin-left: 54px;
	width: 840px;
}
.content-right-top .input1{
	margin-left: 54px;
	margin-top: 10px;
	width: 840px;
	height: 35px;
}
.content-right-top button{
	cursor: pointer;
    width: 190px;
    height: 40px;
    background-color: #3974f8;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: 0;
    font-family: "Microsoft YaHei";
    margin-top: 49px;
    margin-left: 386px;
}


.content-right-top button:hover{
    background-color: #ff7801;
}

.content-right-top .content-right-top-p {
	display: inline-block;
	width: 1019px;
    height: 30px;
    background: url(../../img/daohangtiao.png) repeat-x;
    line-height: 30px;
    text-indent: 52px;
    margin-top: 2px;
}
.content-right-top a{
	text-decoration: none;
}
.content-right ul {
    list-style-type: none;
    height: 54px;
    padding-top: 16px;
    width: 925px;
    margin: auto;
    border-bottom: 1px solid #dcdcdc;
}
.content-right li{
	float: left;
	height: 54px;
	width: 93px;
	text-align: center;
	line-height: 54px;
}
.content-right li a{
	/* color : #323232; */
	text-decoration: none;
	font-size: 16px;
	
		display: block;
	color: #333;
	
	height: 54px;
	width: auto;
	text-align: center;
	line-height: 54px;
	
}
.content-right li a:hover{
	display: block;
	color: #3974f8;

	font-size: 16px;
	
	height: 54px;
	width: auto;
	text-align: center;
	line-height: 54px;
}

.content-right li a.active{
	display: block;
	font-weight: bold;
	color: #3974f8;

	border-bottom: 1px solid #3974f8;
	font-size: 18px;
	
	height: 54px;
	width: auto;
	text-align: center;
	line-height: 54px;
	
}


/* #btn{
	display: inline-block;
	width: 46px;
	height: 24px;
	line-height: 24px;
	background: #3974f8;
	text-decoration: none;
	color: white;
	border-radius: 3px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
}
#btn:hover{
	background-color: #ff7801;
}
#btns{
	display: inline-block;
	width: 46px;
	height: 24px;
	line-height: 24px;
	border: 1px solid blue;
	margin-left: 10px;
	color: #666;
	border-radius: 3px;
	font-size: 12px;
	text-decoration: none;
	font-family: "Microsoft YaHei";
}
#btns:hover{
	background-color: #3974f8;
	color: #fff;
} */

.btn{
	position: relative;
}
.btn img{
	position: absolute;
	left: 0px;
	top: 8px;
}
.content-right-top li a:hover{
	color : white;
}
.content-right-top .content-right-top-li{
	border-right: 0px;
}











