
*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei" ! important;
}

.main-right img{
	 width : 860px;
}

/*涓棿鐨勫唴瀹�*/
.content{
	width: 1200px;
	height: auto;
	overflow: hidden;
	margin: auto;
	margin-top: 20px;
	position: relative;
}

li.active a{
	color: #0066FF;
	font-weight: bold;
}

.content-right{
	 border: 1px solid #dfdfdf; 
	width: 995px;
	height: auto;
	min-height: 500px;
	overflow: hidden;
float: right;}
.content-right span{
	margin-left: 255px;
	    width: 120px;
    font-size: 14px;
    color: #333;
}
.content-right input{
	height: 40px;
	margin-top: 50px;
	width: 350px;
    color: #666;
    text-indent: 15px;
}
.content-right .content-input{
	margin-top: 25px;
}
.content-right .content-span{
	margin-left: 269px;
}
.content-right button{
	
	margin: 50px 0 0 341px;
	cursor: pointer;
    width: 190px;
    height: 40px;
    /* background: url(../../img/youce.png) repeat-y; */
    background-color: #3974f8;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: 0;
    font-family: "Microsoft YaHei";
}
.content-right button:hover{
	background-color: #ff7801; 
}
