

.maip{
	width: 800px;
	height: 800px;
	margin: auto;
}
.maip p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #666;
}

.maip-list{
	width: 750px;
	height: 200px;
	border-bottom: 1px solid #dcdcdc;
	margin-top: 40px;
	margin: auto;
}
.maip-list b{
	color :  #3974f8;
	
}
.maip-list table{
	width: 750px;
	height: 180px;
}
.maip-list td{
	height: 20px;
}

.maip .maip-list2 {
	width: 750px;
	height: auto;
	/*border: 1px solid red;*/
	margin: auto;
	margin-top: 20px;
	position: relative;
    padding-bottom: 25px;
}
.maip-list2 b{
	color :  #3974f8;
    position:  absolute;
}
.maip-list2 .img{
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.maip-list2 .img2{
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.maip-list3{
	width: 750px;
	height: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	/*border: 1px solid red;*/
	margin: auto;
	margin-top: 20px; 
	overflow: hidden;
}


.gtu1{

	width: 442px;
    height: 143px;
    float: left;
    /* border: 1px solid #323232; */
    /*margin-top: 20px;*/
    position: relative;
 
	
}
.gtu1 .imgs {
    position: absolute;
    right: 27px;
    top: 62px;
    cursor: pointer;
}
.gtu2 {
    width: 206px;
    height: 142px;
    border: 1px solid #e2e2e2;
    vertical-align: middle;
    border-right: 0px;
    line-height: 1px;
    display: table-cell;
    /* background: url(../img/pic-iu.png) no-repeat center center; */
    text-align: center;
    overflow: hidden;
}
.gtu3 {
    width: 172px;
    height: 140px;
    position: relative;
    border: 1px solid #e2e2e2;
    right: 61px;
    top: 0px;
    position: absolute;
}
#file {
       position: relative;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    line-height: 32px;
    height: 32px;
    width: 140px;
    text-decoration: none;
    text-indent: 20px;
    margin-top: 54px;
    margin-left: 15px;
    background: url(../img/grey00.png) no-repeat;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}

#file input {
    position: absolute;
    right: 0;
    top: -27px;
	font-size: 100px;
    opacity: 0;
    width: 140px;
    cursor: pointer;
}
#file:hover {
     background: url(../img/orange00.png) no-repeat;
     color: #ed6c06;
    text-decoration: none;
}

.maip-list3 .button{
   display: inline-block;
    /* width: 60px; */
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    border-radius: 3px;
    color: #3973F8;
    cursor: pointer;
    border: 1px solid #3973F8;
    text-decoration: none;
    font-size: 14px;
    margin-top: 57px;
    background-color: #fff;
}

.maip .buttons{
       width: 150px;
    height: 40px;
    margin-top: 33px;
    margin-left: 310px;
    color: #fff;
    font-size: 18px;
    background-color: #3973F8;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}















