 * {
 	margin: 0;
 	padding: 0;
 }
 
 .activet {
 	background: #3974f8 !important;
 	color: #fff !important;
 }

 .banner {
 	width: 97%;
 	height: auto;
 	border: 1px solid #dcdcdc;
 	margin: auto;
 	margin-top: 40px;
 	overflow: hidden;
 }
 
 .banner-left {
 	width: 200px;
 	height: auto;
 	float: left;
 }
 
 .banner-left-list1 {
 	width: 200px;
 	height: 100px;
 	text-align: center;
 }
 
 .banner-left-list1 img {
 	margin-top: 22px;
 }
 
 .banner-right {
 	width: auto;
    min-height: 650px;
    padding-left: 20px;
    border-left: 1px solid #dcdcdc;
    float: left;
    border-top: 1px solid #fff;
 }
 
 .banner-right ul {
 	list-style-type: none;
 }
 
 .banner-right .ul2 {
 	margin-left: 14px;
 	margin-top: 15px;
 }
 
 .banner-right li {
 	float: left;
 }
 
 .banner-right .at {
 	display: inline-block;
 	text-decoration: none;
 	color: #666;
 	width: 136px;
 	height: 40px;
 	text-align: center;
 	margin-left: 20px;
 	border-bottom-right-radius: 15px;
 	border-bottom-left-radius: 15px;
 	font-size: 16px;
 	line-height: 40px;
 }
 .banner-right-list {
			  width: 97.6%;
			  font-size: 0;
			  text-align: left;
			  padding-left: 22px;
			  border:1px solid #ccc;
			  margin-top: 20px;
			  padding-bottom: 20px;
			}
			.div {
			  display: inline-block;
			  width: 300px;
			  font-size: 13px;
			  position: relative;
			  vertical-align: middle;
			  height: 50px;
			}
			.div:nth-child(2n) {
			}
			.div:before {
			  content: "";
			  display: inline-block;
			  padding-bottom: 25%;
			  width: .1px;
			  vertical-align: middle;
			}
			.banner-right-list-liopc{
			  display: inline-block;
			  float: right;
			  margin-right: 53px;
			  margin-top: 20px;
			}
			.banner-right-list-liopd{
			    display: inline-block;
			    float: right;
			    margin-right: 53px;
			    margin-top: 20px;
			}
			.banner-right-list input{
			  width: 160px;
			  height: 30px;
			}
			.banner-right-list select{
			  width: 163px;
			  height: 35px;
			  margin-left: -5px;
			}
			.banner-right-list .span{
			    width: 80px;
			    text-align: right;
			    display: inline-block;
			}
			.banner-right-list .spanc{
			    width: 45px;
			    text-align: right;
			    display: inline-block;
			}
			.banner-right-list #endTime{
			  margin-left: 35px;
			}
 .banner-right-list button {
 	width: 110px;
 	height: 30px;
 	border-radius: 3px;
 	background: url(../img/search.jpg) no-repeat 21px 9px;
 	color: #3973F8;
 	border: 1px solid #3973F8;
 	cursor: pointer;
 	margin-left: 27px;
 	margin-top: 10px;
 }
 .banner-right-list .buttons {
 	width: 110px;
 	height: 30px;
 	border-radius: 3px;
 	background: url(../img/refresh.jpg) no-repeat 21px 9px;
 	color: #3973F8;
 	border: 1px solid #3973F8;
 	cursor: pointer;
 	margin-left: 2px;
 	margin-top: 10px;
 }
 /*.banner-right-list {
 	float: left;
 	width: 99%;
 	height: auto;
 	border: 1px solid #dcdcdc;
 	margin-top: 30px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 }
 .banner-right-list ul{
    list-style-type: none; 
    margin-left: 30px;
 }
 .banner-right-list li{
    width: 296px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
 }
  .banner-right-list .span{
    display: inline-block;
    width: 80px; 
    text-align: right;
    line-height: 30px;
  }
  .banner-right-list .spanc{
    display: inline-block;
    width: 80px; 
    line-height: 30px;
 }
  .banner-right-list .spans{
    display: inline-block;
    width: 80px;
    text-align: right;
    line-height: 30px;
    float: left;
    margin-left: 26px;
 }
 .banner-right-list select {
 	width: 162px;
 	height: 30px;
 }
 .banner-right-list input {
 	width: 160px;
 	height: 25px;
 }
.banner-right-list-liopd{
	margin-left: -97px;
	position: absolute;
}
.banner-right-list-liopc{
	margin-left: 106px;
	position: absolute;
}
.banner-right-list button {
 	width: 110px;
 	height: 30px;
 	border-radius: 3px;
 	background: url(../img/search.jpg) no-repeat 21px 7px;
 	color: #3973F8;
 	border: 1px solid #3973F8;
 	cursor: pointer;
 	margin-left: 65px;
 	margin-top: 10px;
 }*/
 /*.banner-right-list{
	float: left;
    width: 99%;
    padding-top: 20px;
    height: auto;
    border: 1px solid #dcdcdc;
    margin-top: 30px;
}
.banner-right-listo{
	width: 271px;
    height: auto;
    text-align: center;
    float: left;
    padding-bottom: 20px;
}
.banner-right-lists{
	width: 500px;
    height: auto;
    text-align: left;
    float: left;
    padding-bottom: 20px;
}
.banner-right-listo input{
	width: 160px;
	height: 25px;
}
.banner-right-listo select {
 	width: 162px;
 	height: 30px;
 }
.banner-right-list button{   
    width: 110px;
    height: 30px;
    border-radius: 3px;
    background: url(../img/search.jpg) no-repeat 21px 7px;
    color: #3973F8;
    border: 1px solid #3973F8;
    cursor: pointer;
}
 .banner-right-list-liopc{
    width: 160px;
    height: 27px;
    position: relative;
    left: 29px;
 }
 .banner-right-list-liopd{
    width: 160px;
    height: 27px;
    margin-left: 89px !important;
    position: relative;
 }
  
 .banner-right-list .span4 {
    left: -55px;
    top: 5px;
    position: absolute;
 }
 .banner-right-list input {
 	width: 158px;
 	height: 25px;
 }
 .banner-right-list .span7{
   margin-left: 43px;
 }
 .banner-right-list #endTime{
   margin-left: 48px;
 }
 .banner-right-list li{
 	float: left;
 	width:300px;
 	list-style: none;
 	height: 45px;
 }
 .banner-right-list .banner-right-list-li{
   width: 550px;
 }
 .banner-right-list .span7{
   margin-left: 65px;
 }
 .banner-right-list #endTime{
   margin-left: 55px;
 }
 .banner-right-list-liop{
 	width: 160px;
 	height: 30px;
    margin-top: -24px;
    
 }
 .banner-right-list-liops{
 	width: 600px;
    height: 58px;
    margin-left: 267px;
    margin-top: -46px;
 	
 }
  .banner-right-list-liopc{
   width: 160px;
    height: 27px;
    position: relative;
    left: 133px;
    
 }
 .banner-right-list-liopd{
    width: 160px;
    height: 27px;
    margin-left: 89px !important;
    position: relative;
 }
 
 .banner-right-list-last{ 	
    margin-top: 15px;
    margin-left: 20px;
 }
 
#banner-right-formgroup{
 	top: 0px;
    left: 100px;
    position: absolute;
    margin-left: -11px;
 }
 .banner-right-list span {
 }
 
 .spant{
 	margin-left: 20px;
 }
 .spans{
 	margin-left: 20px;
 }
 
 .banner-right-list .span2 {
 	margin-left: 33px;
 }
 
 .banner-right-list .span3 {
 	margin-left: 20px;
 }
 
 .banner-right-list .span4 {
    left: -55px;
    top: 5px;
    position: absolute;
 }
 
 .banner-right-list-float{
 	float: right;
    margin-right: 176px;
 }

 .banner-right-list input {
 	width: 158px;
 	height: 25px;
 }
 
 .banner-right-list select {
 	width: 162px;
 	height: 30px;
 	margin-left: -4px;
 }
 
 .banner-right-list button {
 	margin-left: 30px;
 	width: 110px;
 	height: 30px;
 	border-radius: 3px;
 	background: url(../img/search.jpg) no-repeat 21px 7px;
 	color: #3973F8;
 	border: 1px solid #3973F8;
 	cursor: pointer;
 }*/
 
 .banner-right-list2 {
 	float: left;
 	width: 99%;
 	height: auto;
 	border: 1px solid #dcdcdc;
 	padding-bottom: 20px;
 	margin-top: 30px;
 	position: relative;
 }
 
 .banner-right-list2 .banner-right-p {
 	display: inline-block;
 	width: 100%;
 	height: 35px;
 	background-color: #d8defd;
 	text-align: center;
 	line-height: 35px;
 	color: #666;
 }
 
 .banner-right-list2 table {
 	width: 100%;
 	/*border: 1px solid #dcdcdc;*/
 	text-align: center;
 }
 
 .banner-right-list2 th {
 	height: 35px;
    font-weight: normal;
    border-bottom: 1px solid #dcdcdc;
    font-size: 14px;
    color: #999;
 }
 
 .banner-right-list2 td {
 	height: 50px;
    font-size: 14px;
    color: #666;
    line-height: 50px;
    /* background: #f5fafe; */
    cursor: pointer;
 }
  .banner-right-list2 td:hover div{
  	display: block;
  }
 
 .banner-right-list2 .banner-right-a1 {
 	display: inline-block;
 	width: 60px;
 	height: 25px;
 	background-color: #3973F8;
 	border-radius: 3px;
 	color: #fff;
 	cursor: pointer;
 }
 
 .banner-right-list2 .banner-right-a2 {
 	display: inline-block;
 	width: 60px;
 	height: 25px;
 	background-color: #3973F8;
 	border-radius: 3px;
 	color: #fff;
 	cursor: pointer;
 }
 
 .banner-right-list2 .banner-right-a3 {
 	display: inline-block;
 	/*width: 60px;*/
 	width: auto;
    padding-left: 25px;
    padding-right: 25px;
 	height: 25px;
 	line-height: 25px;
 	margin: -3px 20px 0px 20px;
 	border-radius: 3px;
 	color: #3973F8;
 	cursor: pointer;
 	border: 1px solid #3973F8;
 }
 
 table th {
 	white-space: nowrap;
 }
 
 table td {
 	white-space: nowrap;
 }
 


 
 table {
 	empty-cells: show;
 	border-collapse: collapse;
 	margin: 0 auto;
 }
 

 table.tab_css_1 {
 	/*border: 1px solid #cad9ea;*/
 	color: #666;
 }
 
 table.tab_css_1 th {
 	/*background-image: url("th_bg1.gif");*/
 	background-repeat: repeat-x;
 	height: 30px;
 	line-height: 30px;
 }
 
 table.tab_css_1 td,
 table.tab_css_1 th {
 	/*border:1px solid #cad9ea;*/
 	padding: 0 1em 0;
 }
 
 table.tab_css_1 tr.tr_css {
 	/* background-color: #f5fafe; */
 	height: 30px;
 }
  table tr:nth-child(2n) {
	background-color: #f5fafe;
 }
.banner-right-th{
	width: 80px;
    border-left: 1px solid #dcdcdc;
    position: absolute;
    background: #fff;
    right: 0px;
}
 
.banner-right-list2 .banner-right-th a{
	color: #3974f8;
}
 
.banner-right-list2-tab{
	width: 68px;
	height: 281px;
	border: 1px solid #dcdcdc;
	border-right: none;
	border-bottom: none;
	position: absolute;
	right: 0px;
	top: 35px;
	box-shadow: -2px 0 1px #aaa;
}
.banner-right-list2-tab ul{
	list-style-type: none;
}
.banner-right-list2-tab li{
	width: 68px;
	height: 50px;
	background: #f5fafe;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.banner-right-list2-tab li:hover div{
	display: block;
}
.banner-right-list2-tab .banner-right-list2-li{
	width: 68px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px solid #dcdcdc;
	color: #999;
	background: #fff;
}
.banner-right-list2-tab img{
	margin-right: 5px;
}
.banner-right-list2-tab2{
	width: 108px;
    height: 90px;
    border: 1px solid #dcdcdc;
    background: blue;
    position: absolute;
    z-index: 2;
    display: none;
    margin-left: -15px;
}
.banner-right-list2-tab2 dd{
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.banner-right .banner-right-list2 .float5{
	cursor: pointer;
	color: #3974F8;
}

.banner-right-list5{
	width: 90%;
	height: auto;
	margin: auto;
	/*border: 1px solid red;*/
	list-style: none;
}

.banner-right-list5 h1{
	text-align: center;
}

.banner-list5-type{
	    /* margin-left: 670px; */
    font-size: 18px;
    color: #3974f8;
    text-align: center;
    margin-top: 20px;
}

.banner-list5-div1{
	width: 90%;
	margin: auto;	
	margin-top: 30px;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #DCDCDC;
}

.banner-div-title{
	color: #3974F8;
}
.banner-list5-div1 ul{
	list-style: none;
	margin-top: 20px;
}
.banner-list5-div1 li{
	float: left;
	width: 250px;
	margin-top: 15px;
}

.banner-list5-div2{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #DCDCDC;	
}

.banner-div2-title{
	overflow: hidden;
}	

.banner-div2-title li{
	float: left;
	width: 50%;
	list-style: none;
	color: #3974F8;
}

.banner-div2-ul{
	width: 50%;
	margin-top: 20px;
	float: left;	
	
}
.banner-div2-ul li{
	margin-top: 15px;	
	list-style: none;
}
.banner-div2-ul2{
	width: 50%;
	margin-top: 20px;
	float: left;	
	
}
.banner-div2-ul2 li{
	margin-top:15px;
	list-style: none;
}

.banner-list5-div3{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #DCDCDC;	
}

.banner-div3-table{
	margin-top: 20px;

}
.banner-div3-table table{
	margin: auto;
    width: 100%;
    text-align: center;	
}
.banner-div3-table th{
	height: 30px;
	line-height: 30px;
}
.banner-div3-table td{
	height: 50px;
	line-height: 50px;
}

.banner-list5-div4{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #DCDCDC;	
}
.banner-list5-div4 ul{
	list-style: none;
	margin-top: 20px;
}
.banner-list5-div4 li{
	float: left;
	width: 250px;
	margin-top: 15px;
}
 .banner-right .banner-right-padding{
	 padding-right: 120px;
 }
 .banner-right-list2 .active{
	background: #fff !important;
}

.banner-right .city-select-content{
	padding: 0 0 ;
}
.textbox .textbox-text{
	height: 20px;
}